name: autonomous

services:
  db:
    image: postgres:17.5-bullseye
    container_name: db-kc
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ keycloak_db_name }}
      POSTGRES_USER: {{ keycloak_db_user }}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - kc_net
    secrets:
      - postgres_password

{% for replica_index in range(1, (keycloak_replica_count_effective | int) + 1) %}
  keycloak-{{ replica_index }}:
    image: quay.io/keycloak/keycloak:26.3.1
    container_name: keycloak-{{ replica_index }}
    restart: unless-stopped
    depends_on:
      - db
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/{{ keycloak_db_name }}
      KC_DB_USERNAME: {{ keycloak_db_user }}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_ADMIN}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}
      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_CACHE: {{ keycloak_cache_mode }}
{% if keycloak_cache_stack | default('') | length > 0 %}
      KC_CACHE_STACK: {{ keycloak_cache_stack }}
{% endif %}
      KC_PROXY: edge
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HEALTH_ENABLED: "true"
      KC_HTTP_ENABLED: "true"
      KC_NODE_NAME: keycloak-{{ replica_index }}
    ports:
      - "127.0.0.1:{{ (keycloak_http_port | int) + replica_index - 1 }}:8080"
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
      - ./keycloak/providers:/opt/keycloak/providers
    networks:
      - kc_net
    secrets:
      - postgres_password
      - kc_admin_user
      - kc_admin_password
    command:
      - start
{% endfor %}

volumes:
  postgres_data:

networks:
  kc_net:

secrets:
  postgres_password:
    file: ./secrets/postgres_password.txt
  kc_admin_user:
    file: ./secrets/kc_admin_user.txt
  kc_admin_password:
    file: ./secrets/kc_admin_password.txt
