POSTGRES_PASSWORD={{ keycloak_postgres_password_effective }}
KC_ADMIN={{ keycloak_admin_user_effective }}
KC_ADMIN_PASSWORD={{ keycloak_admin_password_effective }}
KC_HOSTNAME={{ keycloak_server_name_effective }}
